
/* ----------------------body main-tab===================== */
.top-nav-header {
    padding: 20px 15px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.body-tab-btn button {
    margin: 0 20px 0 0;
}
.body-tab-btn button i{
    margin: 0 10px 0 0;
}
.body-tab-btn{
    border: none ;
}
.line-tab{
    display: none;
}
.sign-btn{
    text-align: right;  
}
.sign-btn i{
    padding-right: 10px;
}
.main-content {
    background-color: #F7F7F8;
    padding-bottom: 80px;
}
.tab-circle-cross{
    display: none;
}
.profile-section{
    background-color: #ffffff;
    box-shadow: 4px 4px 8px #eee8e8;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.profile-section .nav-tabs{
    border-bottom: 1px solid #00326F;
    padding-top: 23px;
}
.profile-section .nav-tabs .nav-item {
    padding-top: 0px;
}
.profile-section .nav-tabs .nav-item.show .nav-link, .profile-section .nav-tabs .nav-link.active
{
    border: 1px solid #FF9400 !important;
    border-bottom: transparent !important;
    color: #FF9400 !important;
}
.profile-section button{
    color: #00326F;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 19.2px;
    /* padding-top: 28px; */
    padding-bottom: 7px;   
}
  .recent{
    margin-top: 360px;

    color: rgb(81, 82, 83);
    font-weight: 600; 
  }
  .recent span{
      padding-left: 23px;
      color: #00326F;
  }

.Gallery{
    padding-bottom: 37px;
}
 .Resume{
     padding: 0 0 30px;
 }
 .Resume label {
    font-size: 18px;
    font-weight: 600;
    color: #242424;
}
.Resume span {
    margin-left: 30px;
    font-size: 18px;
    color: #00326f;
}
.profile-information {
    position: relative;
    margin-top: 150px;
    padding: 170px 10px 50px;
    text-align: center;
}
.profile-img-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -120px;
}
.profile-img-wrapper img{
    width: 100%;
    display: block;
}
.profile-detail h1 {
    color: #00326F;
}
.profile-detail h2 {
    color: #00326f !important;
    margin-bottom: 20px;
}
.recent-job{
    margin-bottom: 20px;
}
.recent-job label {
    color: #202020;
    font-size: 16px;
    margin-right: 10px;
}
.recent-job span {
    font-size: 16px;
    color: #00326f !important;
}
.profile-detail .edit-btn {
    width: 60%;
    height: 45px !important;
    margin: 30px 0 0;
}
.profile-detail .edit-btn i{
    margin: 0 10px 0 0;
}
.profile {
    padding: 0 20px;
}
.profile .nav-link {
    font-size: 16px;
    padding: 15px 20px;
}
.profile-text-wrap{
    padding: 30px 0;
}
.about-infomation {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.about-infomation:last-child {
    border-bottom:none;
}
.about-infomation .edited-text {
    position: absolute;
    right: 0;
    top: -1px;
    background: #FF9400;
    border: 1px solid #FF9400;
    padding: 5px ​2px 5px 5px;
    font-size: 17px;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 5px;
}
.about-infomation .edited-text i {
    
    font-size: 17px;
    color: #ffffff;
}
.about-infomation .edited-text:hover, .about-infomation .edited-text i:hover {
    color: #FF9400;
    background: #Ffffff;
    transition: all 0.3s;
}
.qualification-circle {
    width: 10px;
    height: 10px;
    background: #FF9400;
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
}
.qualification-li li {
    margin-bottom: 10px;
}
.qualification-li li span {
    font-size: 16px;
}
.album-section{
    padding: 30px 0;
}
/* ========================== album-upload image=========== */
.field {
    position: relative;
    padding: 10px 0 0;
  }
  .album-upload-img .imageThumb {
    height: 180px;
    border: none;
    border-radius: 5px;
    object-fit: scale-down;
    padding: 1px;
    width: 180px;
    cursor: pointer;
  }
  .album-upload-img .pip {
    display: inline-block;
    margin: 0 10px 10px ;
    vertical-align: bottom;
    height: 200px;
    width: 200px;
    background: #ffffff;
    margin-left: 15px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FF9400;
}
.album-upload-img .remove {
    display: none;
    background: #D11203;
    border: 1px solid #D11203;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    font-size: 14px;
    padding: 4px 0;
    border-radius: 2px;
    margin: 0 auto 0;
}
span.remove:before {
    content: 'x';
    color: #ffffff;
    background: #D11203;
    font-size: 12px;
    padding: 0px 6px 3px;
    border-radius: 30px;
    margin: 0 4px 0 0;
    display: inline-block;
}
.album-upload-img .pip:hover .remove, .album-upload-img .pip:hover .Profile-img, .album-upload-img .pip:hover .Private-img{
     display: block !important;
}
  .field input {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    font-size: 0;
    background: transparent !important;
    border: 1px dashed #f48128;
    padding: 5px;
    display: block;
    position: absolute;
    top: 10px;
    cursor: pointer;
    padding: 0;
}
.album-upload-img .upload-file {
    height: 180px;
    width: 180px;
    padding: 50px 0;
    text-align: center;
    background: #e6e6e6;
    margin: 10px 9px;
    display: inline-block;
    top: -50px !important;
}
.album-upload-img .upload-file i {
    font-size: 58px;
    display: block;
    color: #cccccc;
    margin-bottom: 5px;
}

.album-upload-img .Profile-img{
    display: none;
    background: #FF9400;
    border: 1px solid #FF9400;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    font-size: 14px;
    padding: 4px 0;
    border-radius: 2px;
}
.album-upload-img .Private-img{
    display: none;
    background: #02AC13;
    border: 1px solid #02AC13;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    font-size: 14px;
    padding: 4px 0;
    border-radius: 2px;
}

/* ============= upload pdf file ================== */
.file-uploader {
    background-color: #dbefe9;
    border-radius: 3px;
    color: #242424;
  }
  
  .file-uploader__message-area {
    font-size: 18px;
    /* padding: 1em; */
    text-align: center;
    color: #377a65;
  }  
  .file-list {
    background-color: white;
    font-size: 16px;
  }  
  .file-list__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }  
  .multiple-file-pdf .file-list li{
    float: left;
    display: inline-block;
}
.multiple-file-pdf .file-list li a{
    width: 250px;
    float: left;
    border: 1px dashed #003678;
    background: #ffffff;
    height: 150px;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 0 15px;
}
  
.multiple-file-pdf .removal-button {
    width: 30px !important;
    border: none;
    background-color: #ff0000;
    color: #ffffff !important;
    height: 30px !important;
    border-radius: 50%;
    padding: 6px 0;
    position: absolute;
    left: 10px;
    top: 7px;
}
  .removal-button::before {
    content: "X";
  }
  .removal-button:focus {
    outline: 0;
  }
  .file-list__name {
    max-width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background: url(../images/download-icon.svg) no-repeat;
    background-size: 22% !important;
    background-position: center 31px !important;
    padding: 92px 0 0;
    font-size: 20px;
    color: #989898;
}  
  .file-chooser {
    transition: background-color 1s, height 1s;
    position: relative;
  }
  .file-chooser input {
    padding: 9px 6px !important;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    width: 80%;
    float: left;
    height: 45px;
}
.file-chooser .send-btn {
    margin-left: 10px;
    width: 15%;
    height: 45px !important;
}
.file-chooser .send-btn i {
    margin-right: 10px;
}
.file-chooser p {
    font-size: 18px;
    padding-top: 15px !important;
    display: block;
    width: 80%;
    color: #ff0000 !important;
    float: left;
}  
  .file-uploader {
    max-width: 400px;
    height: auto;
    margin: 2em auto;
  }
  .file-uploader * {
    display: block;
  }
  .file-uploader input[type=submit] {
    margin-top: 2em;
    float: right;
  }  
  .file-list {
    margin: 30px auto 0;
    max-width: 100%;
}
.file-list__name {
    max-width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background: url(../images/download-icon.svg) no-repeat;
}
  .removal-button {
    display: inline-block;
    height: 100%;
    float: right;
  }
  .file-chooser__input {
    margin: 0 auto;
  }
  
  .file-uploader__submit-button {
    width: 100%;
    border: none;
    font-size: 1.5em;
    padding: 1em;
    background-color: #72bfa7;
    color: white;
  }
  .file-uploader__submit-button:hover {
    background-color: #a7d7c8;
  }
  
  .file-list li:after, .file-uploader:after {
    content: "";
    display: table;
    clear: both;
  }  
  .hidden {
    display: none;
  }
  .hidden input {
    display: none;
  }  
/*===========================question answer ========================*/
.question-ans{
    margin-bottom: 20px;
}
.questions-tab{
    padding: 30px 0 ;
}
.question-ans .accordionone {
    background:#00326f;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    display: block;
    border:1px solid #00326f;
    font-size: 16px;
    transition: 0.3s all;
    margin: 0;
    border-radius: 5px 5px 0 0;
  }
.question-ans .panel {
    padding:15px;
    display: none;
    background: #EFEFEF;
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #e6e6e6;
  }
.question-ans .panel p{
    color: #242424 !important;
}
.accordionone:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
      font-size: 40px;
      color: #ffffff;
      float: right;
      margin-left: 5px;
      line-height: 18px;
  }

.accordionone.active:after {
    content: "-" !important; /* Unicode character for "minus" sign (-) */
  }
  /*========================tag styling ==================*/
  .tag-tab-info {
    padding: 30px 0;
}
.add-skils input{
    width: 80%;
    float: left;
    margin-right: 15px;
}
.add-skils .orange_btn {
    padding: 5px 20px !important;
    display: inline-block;
}
.add-skils .orange_btn i {
    margin-right: 5px;
}
.add-skils.clearfix {
    margin-bottom: 20px;
}
.skill-boxs {
    background: #e6e6e6;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.skill-boxs li{
   display: inline-block;
   background: #00326f;
   padding: 5px;
   border-radius: 2px;
   margin:0 10px 15px 0;
}
.skill-boxs li span{
    color: #ffffff;
    font-size: 14px;
 }
 .skill-boxs li span i{
    margin:0 5px 0 10px;
    cursor: pointer;
 } 
/* ====================Additional-sidebar-css ============================== */
.additional-sidebar-wrapper {
    padding: 0px !important;
    
}
.additional-sidebar{
    background-color: #2672ab;
    padding: 30px 0px;
}
.additional-sidebar button{
    margin: 0px !important;
    display: block;
    background-color: transparent !important;
    color: #ffffff !important;
    text-align: start !important;
    padding: 15px 15px ;
    transition: 0.6s all;
}
.additional-sidebar button.active{
    background-color: white !important;
    color: #242424 !important;
}

.additional-sidebar button  i{
    width: 20px;
}
.additional-sidebar button span {
    padding-left: 5px;
    font-weight: 500;
    font-size: 15px;
    float: left;
    width: 80%;
}
.additional-sidebar button i {
    width: 20px;
    float: left;
}
.additional-sidebar button span:hover , .additional-sidebar button span:checked{
   color: #242424;
}
.additional-sidebarbutton  .active , .additional-sidebar ul  .active a {
    background-color: #ffffff;
    color:#242424;
}
.additional-sidebar button a{
    text-decoration: none;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
}
/* ===============================ends============================================== */
.additional-content-area{
    background-color: #eef4f8;
    margin-right: 0px ;
}
.additional-content-area h2{
    padding-top: 20px;
    color: #242424;
    
}
.additional-content-area .content{
   padding-top: 20px;
}
.additional-content-area ul{
    margin: 0px;
    margin: auto;
}
.additional-content-area ul li {
    padding: 5px 0;
    text-align: center;
}
.additional-content-area ul li a {
    color: #242424;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    margin: auto;
    display: block;
    padding: 5px;
    font-size: 18px;
}
.tag-tabactive .nav-link {
    padding: 15px 5px;
}
.additional-content-area ul li a span{
    color: #eef4f8;
    padding-right: 5px;
    font-weight: 500;
}
.additional-content-area ul li a span:hover ,  .additional-content-area ul li a:hover{
    color: #ffffff;
    background-color:#00326f ;
    border-radius: 5px;
    transition: 0.3s all;
}

/* ==================================================================================== */
.accordion-item {
    background-color: #eef4f8;
    ;
    border: transparent;
}
.additional-content-area h2{
    padding-top: 20px;
    color: #242424;
    
}
.accordion-item ul{
    margin: 0px;
    padding: 20px 0px;
    margin: auto;
}
.accordion-item ul li{
    list-style: none;
    padding: 5px 9px;
   
}
.accordion-item ul li a{
    color: #242424;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    margin: auto;
    padding: 5px 30px 5px 10px;
}
.accordion-item ul li a span{
    color: #eef4f8;
}
.accordion-item ul li a span{
    padding-right: 5px;
    font-weight: 500;
}
.accordion-item .accordion-body ul li a span:hover ,  .accordion-item .accordion-body ul li a:hover{
    color: #ffffff;
    background-color:#00326f ;
    border-radius: 5px;
    transition: 0.3s all;
}

.accordion-item button i{
    width: 15px;
}
.accordion-item button span{
    padding-left: 15px;
}
.accordion-button {
    color: #fff;
    background-color: #2672ab;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #eef4f8;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
     box-shadow:none;
}
.tag-tabactive {
    display: block!important;
    padding: 0 13px;
    margin: 30px 0 0;
}
.tag-tabactive .nav-pills .nav-link {
    border-radius: 0 !important;
}
.additional-sidebar button.active {
    background-color: #ffffff !important;
    color: #242424 !important;
    border-left: 2px solid #2672ab;
}
.additional-sidebar button.active span{
    color: #242424 !important;
}

.additional-sidebar button span{
    color: #ffffff !important;
}






  /* ======================= job =============== */
  .job-applied{
      padding: 30px 0;
  } 
  .job-box-info {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.box-head {
    background: #2672AB;
    border-radius: 2px 2px 0 0;
    position: relative;
    padding: 10px;
    color: #ffffff;
}
.box-head h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}
.box-head label, .box-head span{
    color: #ffffff !important;
    margin-right: 5px;
}
.close-box {
    background: #ff0000;
    padding: 5px 8px;
    border-radius: 50px;
    position: absolute;
    right: 7px;
    top: 10px;
    cursor: pointer;
    line-height: 16px;
}
.job-box-text{
    padding: 20px;
    background: #F8F8F8;
}
.text-info-detail label{
    float: left;
    width: 30%;
    font-size: 14px;
    font-weight: 600;
}
.text-info-detail span{
    float: left;
    font-size: 14px;
    width: 70%;
    color: #989797;
}
.text-info-detail{
    margin-bottom: 10px;
}
.text-info-detail p {
    overflow: auto;
    width: 100%;
    display: block;
    float: left;
    margin: 6px 0 0;
    height: 50px;
}
.interview-tag {
    background: #339900;
}
.pendinginterview-tag{
    background: #6F2B60;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5C5A5A;
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B2B2B2;
    border-radius: 20px;
  }

  /* ================= referance job============ */
  .referance-tab{
      padding: 30px 0;
  }
  .select-refeance{
      position: relative;
  }
  .referance-tab label{
      font-size: 16px;
      font-weight: 600;
  }
  .select-caret {
    position: absolute;
    right: 20px;
    top: 12px;
}
  /* ============================================================ */

/* ========================= premium accounts ====================== */
.account-links{
    color: #2672AB;
    text-decoration: underline;
}
.premiun-accounts {
    padding: 30px 20px;
}
.premiun-accounts p{
    color: #242424 !important;
}
/* ========================== update information ================= */
.update-information {
    padding: 30px 20px;
}
.update-information-area {
    margin-bottom: 40px;
}
.delete-btn{
    font-size: 18px !important;
    background: #dc3545 !important;
    height: 35px !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    padding: 0 20px !important;
    transition: all 0.3s;
    border: 1px solid #dc3545 !important;
}
.update-account-info button i{
   padding-right: 10px;
}
.delete-btn:hover{
    background: #ffffff !important;
    color: #dc3545 !important;
    transition: all 0.3s;
}

/* ====================== media quries ========================= */
@media (max-width:1200px){
   
    .profile .nav-link {
        padding: 15px;
    }
    .profile-img-wrapper {
        width: 200px;
        height: 200px;
        top: -100px;
    }
    .profile-information {
        padding: 140px 10px 50px;
    }
    .recent-job label {
        float: left;
        font-size: 14px;
    }
    .recent-job span {
        font-size: 14px;
        float: left;
    }
    .file-chooser input {
        width: 70%;
    }
    .file-chooser .send-btn {
        margin-left: 10px;
        width: 26%;
        height: 45px !important;
    }
    .file-chooser .send-btn i {
        margin-right: 10px;
    }
    .Resume span {
        font-size: 16px;
        display: block;
        margin: 0;
    }
    .about-infomation .edited-text {
        padding: 5px ​2px 5px 5px !important;
    }
    .multiple-file-pdf .file-list li a {
        width: 225px;
    }
    .album-upload-img .upload-file {
        height: 120px;
        width: 120px;
        padding: 30px 0 50px;
    }
    .field input {
        width: 140px;
        height: 140px;
    }
    .album-upload-img .pip {
        height: 140px;
        width: 140px;
    }
    .album-upload-img .imageThumb {
        height: 120px;
        width: 120px;
    }
    .album-upload-img .upload-file i {
        font-size: 35px;
    }
    .profile {
        padding: 0 15px;
    }
    .album-upload-img .remove {
        top: 14px;
    }
    .album-upload-img .Profile-img {
        top: 55px;
    }
    .album-upload-img .Private-img {
        top: 95px;
    }

    /* ================== tags================ */
    .add-skils input {
        width: 75%;
    }
    .add-skils .orange_btn {
        height: 43px !important;
        padding: 7px 25px !important;
    }

    /* =================== job ================== */
    .job-box-text {
        padding: 20px 10px;
    }
    .text-info-detail label {
        width: 50%;
    }
    .text-info-detail span {
        width: 50%;
    }
    /* ============= head============= */
    .orange_btn {
        font-size: 15px !important;
        padding: 0 12px !important;
    }
    .additional-sidebar button span {
        width: 78%;
    }
    .additional-content-area ul li a {
        padding: 5px;
        font-size: 15px;
    }
    .additional-sidebar .profile .nav-link {
        padding: 15px 5px;
    }
}
@media (max-width: 991px){
   
    .sign-btn i {
        padding-right: 1px;
    }
    .profile .nav-link {
        padding: 10px 12px;
    }
    .top-nav-header .blue_btn {
        font-size: 16px !important;
        padding: 0 10px !important;
    }
    .multiple-file-pdf .file-list li a {
        width: 209px;
    }
    .recent-job label {
        font-size: 18px;
    }
    .recent-job span {
        font-size: 18px;
    }
    .additional-sidebar button span {
        width: 76%;
    }
    .main-content {
        margin-left: 0;
    }
  
}
@media (max-width:767px){
    .body-tab-btn {
        float: left !important;
        width: 70% !important;
    }
    .sign-btn {
        float: left !important;
        width: 30% !important;
    }
    .profile-information {
        padding: 0 10px 50px;
    }
    .profile-information {
        margin-top: 0;
    }
    .profile-img-wrapper {
        width: 150px;
        height: 150px;
        position: static;
        margin: 0 0;
    }
    .profile-information {
        padding: 30px;
        background: #00326f;
    }
    .profile-data-info{
        padding: 0 !important;
    }
    .profile-detail h1 {
        color: #ffffff;
        margin: 20px 0;
        text-align: left;
    }
    .profile-detail p {
        color: #ffffff !important;
        text-align: left;
        font-size: 20px;
    }
    .recent-job label {
        color: #ffffff;
    }
    .recent-job span {
        color: #ffffff !important;
    }
    .profile-detail h2 {
        color: #ffffff !important;
        margin-bottom: 20px;
        text-align: left;
    }
    .profile-detail .edit-btn {
        width: 150px;
        margin: 20px 0 0;
        float: left;
        font-size: 18px !important;
    }
    .top-nav-header {
        margin-bottom: 0;
    }
    .body-tab-btn button i {
        margin: 0 10px 0 0;
        display: none !important;
    }
    .top-nav-header .blue_btn {
        font-size: 14px !important;
        padding: 0 10px !important;
        margin-bottom: 10px;
    }
    .orange_btn {
        font-size: 14px !important;
        padding: 0 10px !important;
    }
    .signout i {
        display: none;
    }
    .body-tab-btn button {
        margin: 0 10px 0 0;
    }

    /* =======================steps button tap ====================== */
    .first-tap-detail {
        width: 80%;
        margin-left: 20%;
    }
    .profile-section .nav-tabs {
        position: absolute;
        left: 0;
        width: 22%;
        background: #f7f7f8;
        padding-top: 0;
    }
    .profile-section .nav-tabs .nav-item {
        display: block !important;
        width: 100%;
    }
    .first-tap-detail .profile .nav-link {
        margin: 0 0 20px;
        background: #f7f7f8;
        padding: 0px 0 10px;
        position: relative;
    }
    .nav-link:after {
        background: #000000;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    .tab-circle-cross{
        display: block;
        margin-bottom: 5px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background: #f7f7f8;
        border: none !important;
    }
    .profile-section .nav-tabs .nav-item.show .nav-link, .profile-section .nav-tabs .nav-link.active {
        border: none !important;
    }
    .profile-section .nav-tabs {
        border-bottom: none;
    }
    .first-tap-detail .profile .nav-link {
        margin: 0 auto 30px;
    }
    .profile-section .nav-tabs .nav-item:after {
        border-left: 1px solid #000 !important;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .line-tab {
        width: 2px;
        height: 404px;
        display: block !important;
        background: #e6e6e6;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .recent-job {
        margin-bottom: 0;
    }
    .Resume-email {
        margin-bottom: 20px;
    }
    .multiple-file-pdf .file-list li a {
        width: 155px;
    }
    .multiple-file-pdf .file-list li a {
        margin: 0 10px 20px 0;
    }
    .question-ans .accordionone{
        position: relative;
    }
    .accordionone:after {
        font-size: 34px;
        color: #ffffff;
        position: absolute;
        right: 4px;
        top: 6px;
    }
    .add-skils input {
        width: 100%;
        margin-bottom: 10px;
    }
    .add-skils .orange_btn {
        width: 100%;
        text-align: center;
        font-size: 20px !important;
    }
    .referance-tab label {
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }
    .first-tap-detail .tab-content {
        margin: 30px 0;
    }
    .tag-tabactive{
        display: none !important;
    }
    .accordion-button.collapsed i,.accordion-button.collapsed span{
        color: #242424 !important;
    }
    button.accordion-button.collapsed i, button.accordion-button.collapsed span {
        color: #ffffff !important;
    }
    .accordion-item ul li a {
        display: block;
    }
    .mobil-tab-view{
        margin-top: 30px;
    }
    .accordion-item ul {
        margin: 0;
        padding: 0;
    }
    .tagcontent-list {
        height: 150px;
        overflow: auto;
    }
    .file-chooser input {
        width: 100%;
    }
    .file-chooser .send-btn {
        margin: 10px 0;
        width: 100%;
    }
    .body-tab-btn {
        float: left !important;
        width: 70% !important;
    }
   
}

@media (max-width:479px){
    .accordion-body .container {
        padding: 0;
    }
    .accordion-item ul li a {
        padding: 5px;
        font-size: 18px;
    }
    .accordion-item ul li {
        padding: 5px 0;
    }
    .tagcontent-list {
        height: 250px;
    }
    .text-info-detail label {
        width: 100%;
        font-size: 16px;
    }
    .text-info-detail span {
        width: 100%;
        font-size: 16px;
    }
    .text-info-detail p {
        height: auto;
    }
    .sign-btn {
        width: 40% !important;
    }
    .body-tab-btn {
        width: 60% !important;
    }
   
    .album-upload-img .pip {
        margin: 10px 0 !important;
    }
    .multiple-file-pdf .file-list li {
        float: none;
        display: block;
    }
    .multiple-file-pdf .file-list li a {
        width: 100%;
    }
    .first-tap-detail {
        width: 75%;
        margin-left: 25%;
    }
    .profile-section .nav-tabs {
        width: 28%;
    }
    .tagcontent-list .col-md-6.col-sm-12 {
        padding: 0;
    }
    .accordion-button {
        padding: 10px 5px;
    }
    .body-tab-btn .orange_btn {
        margin-bottom: 7px;
        width: 70px !important;
        float: left;
    }
}


