/* 
.e-inner {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}
.r-label{
    padding-left: 10px;
    position: relative;
    top: 2px;
}
.employer-main .loc-icon img {
    position: absolute;
    right: 22px;
    top: 12px;
    width: 15px;
    height: 15px;
}




@media (max-width:767px){
    .e-inner {
        grid-template-columns: auto;
    }
} 
*/